.home-container{
  min-height: 100vh;
  margin-left: 22rem;
  width: calc(100% - 22rem);
  margin-top: 6rem;
}
.home-inner{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

/* checkout page */
.no-item{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cart-container{
  margin: 8rem 6rem;
  width: 50%;
}
.cart-items{
  display: flex;
  flex-direction: column;
}
.cart-item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cart-item img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid black;
}
.product-details-cart{
  display: flex;
  flex-direction: column;
  min-width: 8rem;
}
.quantity{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.inc-dec-btn{
  font: inherit;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: #f1eff0;
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.quantity span{
  font-weight: 500;
}
.quantity-left{
  min-width: 12rem
}
.delete-btn{
  font: inherit;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(255, 111, 111);
    color: rgb(255, 111, 111);;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.delete-btn:hover{
  background-color: rgb(255, 111, 111);
  color: white;
}
.total-price{
  border-top: 2px solid black;
  margin-top: 4rem;
}
.total-price h3{
  margin-top: 1rem;
}
.flex-cnt{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.github{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

}

@media screen and (max-width: 560px){
  .home-container{
    width: 100%;
    margin-left: unset;
  }
  .home-inner{
    padding: 10px;
    gap: 10;
    justify-content: center;
  }
  .cart-container{
    margin: 6rem 1rem;
    width: auto;
  }
  .cart-item{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}